.page-header-2{
  padding-bottom: 15px;
}

.card-box{
  padding: 10px;
}

.page-title-alt{
  margin-bottom: 0px; 
}

.filtter-right{
  float: right;
  position: absolute;
  right: 31px;
  top: 10px;
}

.text-dark{
  font-size: 23px;
}

.small-box-footer{
  text-align: center;
  padding: 3px 0;
  /* color: #fff;
  color: rgba(255,255,255,0.8); */
  display: block;
  z-index: 10;
  /* background: rgba(0,0,0,0.1); */
  text-decoration: none;
  margin-top: 5px;
}


@media (min-width: 992px) and (max-width: 1199px) {
  .side-menu.left{
    top : 250px;
  }
  body.fixed-left .side-menu.left{
    position: absolute;
  }
}
@media (min-width: 1200px) {
  .side-menu.left{
    top : 256px;
  }
  body.fixed-left .side-menu.left{
    position: absolute;
  }
}

.content-page > .content {
  margin-top: 0px;
}

.content-page-no-sidebar > .content {
  margin-top: 60px;
}

.footer{
  position: unset;
}

.myevent{
  margin-top: 60px;
}

.event{
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 0;
  padding: 20px 24px;
  background-color: #ffffff;
}

.event-draft{
  margin-bottom: 0px;
  color: #4b4d63;
  font-weight: 600;
  font-size: 12px;
  line-height: 1rem;
}

.event-title{
  color: #000;
  letter-spacing: .25px;
  margin-top:0px;
}

.event-times{
  color:#6f7287;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.25rem;
}

@media (max-width: 767px) {
  .event-draft{
    margin-bottom: unset;
    font-size: 1.5rem;
  }
  .event-title{
    margin-top:10px;
  }
  .event-times{
    font-size: 1.4rem;
    line-height: unset;
  }
  .event-btn {
    padding: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .event-btn {
    padding: 15px;
  }
}

@media (max-width: 1607px) and (min-width: 1272px){
  .event-btn {
    margin-top: 24px;
  }
}

.last-event-update{
  font-size: 1.1rem;
}

.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-inverse{
  background-color: #9a9a9a;
  border-color: #c7c7c7;
}

.nav-event{
  width: 100px;
  text-align: center;
}
.nav > li > a{
  font-weight: 600;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #b9b8b8;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  background-color: #adacac;
}

.navbar-nav>li {
  float: left;
}