.tg-header{
    padding: 10px 0;
    position: fixed;
    top: 0px;
    height: 75px;
    background-color: #cc2b5a;
}

.tg-bannerimg figcaption{
    height: 645px;
}

.input-search{
    font-family: 'Muli', 'Helvetica Neue', Helvetica, Roboto, 'Segoe UI', sans-serif;
    font-weight: 400;
    width: 600px;
}

.btn-search{
    border-radius: 2px 0 0 2px;
    color: #ffffff;
    background: #02bd7b;
    overflow: hidden;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    padding: 0.5em 1em;
    -webkit-text-align: center;
    text-align: center;
    font-family: 'Muli', 'Helvetica Neue', Helvetica, Roboto, 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-left: -5px;
    height: 50px;
}

.event-item{
    padding: 10px;
}

.event-item > .item-header {
    border-bottom-color: #000000;
}

.item-header h3 {
    float: left;
    width: 89%;
}

.event-item > .item-body {
    margin-top:20px;
}

.body-city{
    margin-right: 0;
    margin-left: 0;
}

.titles-region{
    font-family: 'Muli', 'Helvetica Neue', Helvetica, Roboto, 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    padding-top: 32px;
    padding-bottom: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid #eeeeee;
}

.citys{
    padding: 8px 0;
}

.city{
    color : #333333;
    font-size: 16px;
}

.city-active{
    color : #d90845;
    font-size: 16px;
}

.page-header-filter {
    margin-right: 0;
    margin-left: 0;

    flex-direction: row;
    align-content: flex-start;

    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    background: #ffffff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    background: #ffffff;
    border-bottom: 1px solid #dddddd;

    /* padding: 0px 0 31px; */
}

.container-header{
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    padding: 0px 0 31px;
}

.title-header{
    text-align: left;
    max-width: 660px;
}

.content-filter{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.filter-header{
    width: calc(20% - 39px);
    text-align: left;
    padding: 10px 0;
    position: relative;
    height: 71px;
    width: 20%;
    padding: 12px 0;
    background: #ffffff;
}

.title-filter{
    font-family: 'Muli', 'Helvetica Neue', Helvetica, Roboto, 'Segoe UI', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, .6);
    margin-bottom: 8px;
}

.dropdown-filter{
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.dropdown-menu > li{
    list-style: unset;
}

.btn-filter{
    border: unset;
    padding:0px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(51, 51, 51, .8);
}
.filter-separator{
    background-color: #dddddd;
    width: 1px;
    height: 48px;
    margin: 0 24px;
}